{% extends template.self %}      
{% block book_sidebar %}
    {{ super() }}
{% endblock %}
{% block javascript %}
    {{ super() }}
    <script type="text/javascript">
    function toggleLanguage () {
        var path = location.href;
        // console.log(path);
        if (path.indexOf('/zh') !== -1) {
            path = path.replace(/\/zh[\/$\s]/i, '/en/');
        } else if (path.indexOf('/en') !== -1) {
            path = path.replace(/\/en[\/$\s]/i, '/zh/');
        }
        // console.log('after: ' + path);    
        location.assign(path);
    }
    // this method is used to avoid the possibility of failure of the URL's anchor on WAN
    function makeSureAnchorJumped () {
        var anchor = window.location.href.split('#')[1];
        if (anchor) {
            var element = document.getElementById(anchor);
            if (element) {
                var topPos = element.offsetTop;
                // for Safari browers
                document.body.scrollTop = topPos;
                // for IE, Chrome, FireFox, Opera browers
                document.documentElement.scrollTop = topPos;
            }
        }                              
    }

    function avoidOnLoadConflict (onLoad) {
        if (!window.onload) {
            window.onload = onLoad;
        }
        else {
            var oldFunc = window.onload;
            window.onload = function () {
                oldFunc();
                onLoad();            
            };
        }
    }
    avoidOnLoadConflict(makeSureAnchorJumped);
    </script>
{% endblock %}